<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="wineconfigurationsspart" version="1">
    <ToolBar name="mainToolBar" >
        <Action name="create_configuration"/>
    </ToolBar>
    <MenuBar>
        <Menu name="viewMenu">
            <text>View</text>
            <Action name="view_mode"/>
            <Action name="metabar_position"/>
        </Menu>
        <Menu name="configurationMenu" >
            <text>Configuration</text>
            <Action name="create_configuration"/>
            <Separator/>
            <Action name="run_winelib_winecfg"/>
            <Action name="configuration_properties"/>
            <Action name="delete_configuration"/>
            <Separator/>
            <Action name="browse_c_drive"/>
            <Action name="run_winelib_taskmgr"/>
            <Action name="run_winelib_cmd"/>
            <Action name="virtual_reboot"/>
            <Separator/>
            <Action name="run_winelib_regedit"/>
            <Action name="import_regfile"/>
            <Separator/>
            <Action name="run_winelib_control"/>
            <Action name="run_winelib_uninstaller"/>
            <Separator/>
        </Menu>
    </MenuBar>
    <Menu name="listView_context_menu_selected" >
        <Action name="run_winelib_winecfg"/>
        <Action name="configuration_properties"/>
        <Action name="delete_configuration"/>
        <Separator/>
        <Action name="browse_c_drive"/>
        <Action name="run_winelib_taskmgr"/>
        <Action name="run_winelib_cmd"/>
        <Action name="virtual_reboot"/>
        <Separator/>
        <Action name="run_winelib_regedit"/>
        <Action name="import_regfile"/>
        <Separator/>
        <Action name="set_default_configuration"/>
        <Separator/>
        <Action name="create_configuration"/>
    </Menu>
    <Menu name="listView_context_menu_deselected" >
        <Action name="create_configuration"/>
    </Menu>
</gui>
